- Buscamos maximizar su retorno de inversión (ROI)

 Se calcula como la ganancia o pérdida en relación con el costo de la inversión original, y depende de varios factores, como el precio de compra y venta de las acciones, las comisiones y los impuestos

In [1]:
#Librerias necesarias
import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
import yfinance as yf
#import plotly.graph_objs as go
from sklearn.linear_model import LinearRegression
import datetime as dt

In [7]:
# Descargar datos históricos para rendimiento total
tickers_seclec = ["XLY", "XLP", "XLE", "XLF", "XLV", "XLI", "XLK", "XLU", "XLB", "XLC"]
data_sect_rec = yf.download(tickers_seclec, start="2000-01-01", end="2023-06-01")

[*********************100%***********************]  10 of 10 completed

In [8]:
#Vistazo
data_sect_rec.head()

            Adj Close                                                  \
                  XLB XLC        XLE        XLF        XLI        XLK
Date
2000-01-03  15.332284 NaN  14.677700  11.641023  18.901972  42.116322
2000-01-04  15.184672 NaN  14.401419  11.132133  18.379745  39.979652
2000-01-05  15.811992 NaN  14.781304  11.044668  18.297832  39.386112
2000-01-06  16.217894 NaN  15.351147  11.529710  18.543579  38.080391
2000-01-07  16.208672 NaN  15.515197  11.720543  19.250099  38.745129

                                                        ...   Volume      \
                  XLP        XLU        XLV        XLY  ...      XLB XLC
Date                                                    ...
2000-01-03  13.171592  12.086850  21.487967  22.854631  ...   140500 NaN
2000-01-04  12.800686  11.722249  21.000360  22.167099  ...   258000 NaN
2000-01-05  13.026847  12.018064  20.811974  21.894451  ...   102700 NaN
2000-01-06  13.271103  11.997418  20.878452  22.143391  ...  1335000 NaN
2000-01-07  14.112420  12.100609  21.133337  23.186546  ...   620100 NaN


               XLE      XLF     XLI      XLK     XLP     XLU     XLV     XLY
Date
2000-01-03  380300  1185699   82800   938100  634300  176700  246700  212900
2000-01-04  722200   885705  146900   545500  172000   93500   35300  177200
2000-01-05  337800   717181  129200  1906000  343600  273400  137600  124600
2000-01-06  133100   415832   54000  1670000  420800   34500   50000  135800
2000-01-07  468000   468149   32900   686000  337100   46200   22100   70000

[5 rows x 60 columns]

In [10]:
def calcular_roi_sectores(inversion_inicial):
    tickers_sec = ["XLY", "XLP", "XLE", "XLF", "XLV", "XLI", "XLK", "XLU", "XLB", "XLC"]
    data_sect_total = yf.download(tickers_sec, start="2000-01-01", end="2023-06-01")

    for sector in tickers_sec:
        # Obtener el precio de cierre ajustado más reciente
        precio_actual = data_sect_total["Adj Close"].tail(1)[sector]
        # Calcular el precio de cierre ajustado hace 1 año
        precio_hace_un_anio = data_sect_total["Adj Close"].shift(252).dropna()[sector][0]
        # Calcular el ROI para el último año
        ganancia = precio_actual - precio_hace_un_anio
        roi = (ganancia / precio_hace_un_anio) * 100
        # Calcular el valor de la inversión después de 1 año
        valor_final = inversion_inicial * (1 + roi / 100)
        # Imprimir los resultados para cada sector
        print(f"Para el sector {sector}:")
        print(f"Inversión inicial: ${inversion_inicial}")
        print(f"ROI para el último año: {round(roi, 2)}%")
        print(f"Valor final después de 1 año: ${round(valor_final, 2)}\n")

In [11]:
calcular_roi_sectores(1000)

[*********************100%***********************]  10 of 10 completed
Para el sector XLY:
Inversión inicial: $1000
ROI para el último año: Date
2023-05-31    42.48
Name: XLY, dtype: float64%
Valor final después de 1 año: $Date
2023-05-31    1424.83
Name: XLY, dtype: float64

Para el sector XLP:
Inversión inicial: $1000
ROI para el último año: Date
2023-05-31    61.49
Name: XLP, dtype: float64%
Valor final después de 1 año: $Date
2023-05-31    1614.91
Name: XLP, dtype: float64

Para el sector XLE:
Inversión inicial: $1000
ROI para el último año: Date
2023-05-31    30.74
Name: XLE, dtype: float64%
Valor final después de 1 año: $Date
2023-05-31    1307.45
Name: XLE, dtype: float64

Para el sector XLF:
Inversión inicial: $1000
ROI para el último año: Date
2023-05-31    28.31
Name: XLF, dtype: float64%
Valor final después de 1 año: $Date
2023-05-31    1283.07
Name: XLF, dtype: float64

Para el sector XLV:
Inversión inicial: $1000
ROI para el último año: Date
2023-05-31    63.56
Name: XLV, dtype: float64%
Valor final después de 1 año: $Date
2023-05-31    1635.64
Name: XLV, dtype: float64

Para el sector XLI:
Inversión inicial: $1000
ROI para el último año: Date
2023-05-31    44.14
Name: XLI, dtype: float64%
Valor final después de 1 año: $Date
2023-05-31    1441.37
Name: XLI, dtype: float64

Para el sector XLK:
Inversión inicial: $1000
ROI para el último año: Date
2023-05-31    142.48
Name: XLK, dtype: float64%
Valor final después de 1 año: $Date
2023-05-31    2424.82
Name: XLK, dtype: float64

Para el sector XLU:
Inversión inicial: $1000
ROI para el último año: Date
2023-05-31    50.44
Name: XLU, dtype: float64%
Valor final después de 1 año: $Date
2023-05-31    1504.41
Name: XLU, dtype: float64

Para el sector XLB:
Inversión inicial: $1000
ROI para el último año: Date
2023-05-31    41.59
Name: XLB, dtype: float64%
Valor final después de 1 año: $Date
2023-05-31    1415.94
Name: XLB, dtype: float64

Para el sector XLC:
Inversión inicial: $1000
ROI para el último año: Date
2023-05-31    30.02
Name: XLC, dtype: float64%
Valor final después de 1 año: $Date
2023-05-31    1300.2
Name: XLC, dtype: float64